@using WorkEffect.Website.Types
@model WorkEffect.Website.Types.CmsPage

@{
    ViewBag.Title = "Details";
}

<div class="row">
    @{
        foreach (var part in Model.CmsContents)
        {
            @Html.Partial("_contentDetails", part)
            ;
        }
    }

    @Html.Partial("_ContentCreate", new CmsContent(Model.Id))  
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>