@using WorkEffect.Website.Types
@model WorkEffect.Website.Types.CmsPage

@{
    ViewBag.Title = "Details";
}

<div class="row">
    @{
        foreach (var part in Model.CmsContents)
        {
            @Html.Partial("_contentDetails", part)
        }
    }

    <a href="@Url.Action("DetailsAddPart", new {id = Model.Id})">
        <i class="glyphicon glyphicon-plus"></i>
        <span class="sr-only">Edit</span>
    </a>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
