@model WorkEffect.Website.Models.Layout

<section id="layout" class="container admin-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            @using (Html.BeginForm("Edit", "Layout", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.Partial("_createOrEdit")

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
