@model WorkEffect.Website.Models.ContentLayout

@{
    ViewBag.Title = "Delete";
}
<div class="container" id="WorkEffect1">
    <div class="col-md-12 body-container">

        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            @Html.Partial("_Details")

            @using (Html.BeginForm(new { id = Model.Id }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
