@model WorkEffect.Website.Models.ContentLayout

@{
    ViewBag.Title = "Details";
}
<div class="container" id="WorkEffect1">
    <div class="col-md-12 body-container">

        <h2>Details</h2>

        <div>
            @Html.Partial("_Details")
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</div>