@model WorkEffect.Website.Types.CmsPart

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CmsPageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CmsPageId)
        </dd>
    </dl>
</div>
