
@*<div class="container">
    <div class="col-md-12 body-container">
        <div class="row content-container">
            <div id="text_1" class="col-md-4 text-container">
                <h2>Work Effect</h2>
                <p>&nbsp;</p>
                <p>Die Firma Work Effect wurde im Jahre 2015 von Benjamin Emmenegger gegründet.</p>
                <p>Durch unser grosses und vielseitiges Fachwissen in den Gebieten, Schweissen, Composite, Motorradumbau, Customs und Racing beraten wir unsere Kunden bei allen Herstellungs- und Verarbeitungsfragen. Auch mit Kreativen Ideen und ausgefallenen Umbauten stehen wir Ihnen gerne zur Seite.</p>
            </div>
            <div id="image_1" class="col-md-8 image-container" style="background-image: url('/Content/Images/batch/paddel_benu.jpg')"></div>
        </div>
    </div>
</div>*@

@*<div class="container-fluid">
    <div class="col-md-12 spacer-image-dimensions" data-parallax="scroll" data-image-src="/Content/Images/fullSize/paddel_grass.jpg">
    </div>
</div>*@

@*<div class="container">
    <div class="col-md-12 body-container">
        <div class="row content-container">
            <div class="col-md-12 title-container">
                <h2>Lorem Ipsum</h2>
            </div>
            <div id="text_1" class="col-md-8 text-container">
                <p>Praesent dignissim lobortis sapien vel pretium. Quisque ac leo ipsum. Nullam felis orci, dignissim quis mauris a, posuere efficitur felis. Mauris elementum nunc eget turpis dictum, vitae accumsan risus auctor. Sed tincidunt nunc quis dapibus iaculis. Nam quis egestas nulla, nec placerat felis. Aenean sit amet odio massa.</p>
                <p>Quisque at purus nec dolor malesuada porttitor. Duis id mi mauris. Cras vitae condimentum neque. Sed facilisis ex a mauris tempus, eget volutpat sem iaculis. Vivamus vitae ornare leo, vel posuere turpis. Donec molestie leo diam, quis ullamcorper nunc gravida at. Nam sed dictum tellus, id ultricies dolor. Donec quis sodales orci, ut euismod felis.</p>
                <p>Nunc eget lectus id quam commodo consequat. Nullam bibendum vel orci sit amet placerat. Etiam eleifend purus dignissim, rutrum mauris nec, aliquam velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam at quam id elit pretium laoreet ut in neque. Nullam gravida luctus tincidunt. Vestibulum hendrerit odio id mi bibendum laoreet. Pellentesque non tincidunt nisi, sed eleifend est. Mauris ac neque sit amet magna aliquet condimentum.</p>
            </div>
            <div id="image_1" class="col-md-4 image-container" style="background-image: url('/Content/Images/batch/paddel_benu.jpg')"></div>
        </div>
    </div>
</div>*@


@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).ready(function () {
        $(window).on('resize', function () {
            $('#image_1').css('max-height: ' + $('#text_1').height() + '');
            $('#image_2').height($('#text_2').height());
        });
    });

</script>